### 8 Pandas, filtering, string, methods, grouping and visualizing together - exercises

# Filtering, String Methods, Grouping and Visualizing Data

Son Huynh
31.01.2020

In [45]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
cars = pd.read_csv('cars.csv')

# remove dollar sign and convert text to number
cars.MSRP = cars.MSRP.str.replace('$', '')
cars.MSRP = cars.MSRP.astype(int)

cars.columns = cars.columns.str.replace(' ', '') # remove white space in column name

cars.head(3)

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,SUV,MDX,Asia,All,36945,3.5,6.0,265,17,23,4451.0,106.0,189.0
1,Acura,Sedan,RSX Type S 2dr,Asia,Front,23820,2.0,4.0,200,24,31,2778.0,101.0,172.0
2,Acura,Sedan,TSX 4dr,Asia,Front,26990,2.4,4.0,200,22,29,3230.0,105.0,183.0

### Filtering

In [47]:
# Son's solution
# cars[(cars.Weight>6000) | (cars.Weight<2000)]


# Select cars with Weight bigger than 6000 OR smaller than 2000

cars [(cars['Weight'] > 6000) | (cars['Weight'] < 2000) ]

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
118,Ford,SUV,Excursion 6.8 XLT,USA,All,41475,6.8,10.0,310,10,13,7190.0,137.0,227.0
143,GMC,SUV,Yukon XL 2500 SLT,USA,All,46265,6.0,8.0,325,13,17,6133.0,130.0,219.0
150,Honda,Hybrid,Insight 2dr (gas/electric),Asia,Front,19110,2.0,3.0,73,60,66,1850.0,95.0,155.0
166,Hummer,SUV,H2,USA,All,49995,6.0,8.0,316,10,12,6400.0,123.0,190.0

In [48]:
# Son's solution: 
# cars[cars.Cylinders.between(8,12)] 


# Select cars that have 8 to 12 cylinders

#cars[(cars['Cylinders'] >= 8) & (cars['Cylinders'] <= 12)]
car_cylinders = cars[(cars['Cylinders'] > 7)] # Toni's version
car_cylinders

# NB my original line referred to cars. This is the original 
# variable and printed 428 something cars instead of 92 which
# is what Sama and Toni got. This was Sonb's critical lesson,
# that people forget that you're not touching the original.
# I assigned the line (Toni's line) to a variable and called 
# that instead - hey, presto - 92 rows!

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
17,Audi,Sedan,A6 4.2 Quattro 4dr,Europe,All,49690,4.2,8.0,300,17,24,4024.0,109.0,193.0
18,Audi,Sedan,A8 L Quattro 4dr,Europe,All,69190,4.2,8.0,330,17,24,4399.0,121.0,204.0
19,Audi,Sedan,S4 Quattro 4dr,Europe,All,48040,4.2,8.0,340,14,20,3825.0,NaN,179.0
20,Audi,Sports,RS 6 4dr,Europe,Front,84600,4.2,8.0,450,15,22,4024.0,109.0,191.0
25,Audi,Wagon,S4 Avant Quattro,Europe,All,49090,4.2,8.0,340,15,21,3936.0,104.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,Toyota,SUV,Land Cruiser,Asia,All,54765,4.7,8.0,325,13,17,5390.0,NaN,193.0
410,Volkswagen,Sedan,Passat W8 4MOTION 4dr,Europe,Front,39235,4.0,8.0,270,18,25,3953.0,106.0,185.0
411,Volkswagen,Sedan,Phaeton 4dr,Europe,Front,65000,4.2,8.0,335,16,22,5194.0,118.0,204.0
412,Volkswagen,Sedan,Phaeton W12 4dr,Europe,Front,75000,6.0,12.0,420,12,19,5399.0,118.0,204.0
415,Volkswagen,Wagon,Passat W8,Europe,Front,40235,4.0,8.0,270,18,25,4067.0,106.0,184.0

In [49]:
# Son's solution: 
# cars[(cars.Make.isin(['Mazda', 'Honda'])) & (cars.Length>180)]



# Select Mazda and Honda cars with Length longer than 180 inches

# First thoughts: cars[(cars['Length'] > 180)]

# With Thao's help:

cars[(cars.Make.isin(['Honda', 'Mazda'])) & (cars.Length>180)]

# Thao: you could also do this on two lines, by assigning the 
# first line to a variable and using the var in the second line.
# I don't know - I tried that, but couldn't get it to work.

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
151,Honda,SUV,Pilot LX,Asia,All,27560,3.5,6.0,240,17,22,4387.0,106.0,188.0
157,Honda,Sedan,Accord LX 2dr,Asia,Front,19860,2.4,4.0,160,26,34,2994.0,105.0,188.0
158,Honda,Sedan,Accord EX 2dr,Asia,Front,22260,2.4,4.0,160,26,34,3047.0,105.0,188.0
161,Honda,Sedan,Accord LX V6 4dr,Asia,Front,23760,3.0,6.0,240,21,30,3349.0,108.0,190.0
162,Honda,Sedan,Accord EX V6 2dr,Asia,Front,26960,3.0,6.0,240,21,30,3294.0,105.0,188.0
163,Honda,Sedan,Odyssey LX,Asia,Front,24950,3.5,6.0,240,18,25,4310.0,118.0,201.0
164,Honda,Sedan,Odyssey EX,Asia,Front,27450,3.5,6.0,240,18,25,4365.0,118.0,201.0
243,Mazda,Sedan,Mazda6 i 4dr,Asia,Front,19270,2.3,4.0,160,24,32,3042.0,105.0,187.0
244,Mazda,Sedan,MPV ES,Asia,Front,28750,3.0,6.0,200,18,25,3812.0,112.0,188.0
249,Mazda,Truck,B2300 SX Regular Cab,Asia,Rear,14840,2.3,4.0,143,24,29,2960.0,112.0,188.0
250,Mazda,Truck,B4000 SE Cab Plus,Asia,All,22350,4.0,6.0,207,15,19,3571.0,126.0,203.0

In [50]:
# Son's solution: :
# cars[~(cars.Type == 'Sedan')]



# Select all except cars of sedan type


# My first try: cars[cars.Type.str.contains('Sedan')] 
#cars.columns

#Stack O research: 
# df.loc[:, df.columns != 'b']
# df.loc[:, ~df.columns.isin(['col1', 'col2'])]
# df.drop(columns=['a', 'b'])
#cars[cars.columns.difference(['Type'])] # this would omit column Type, 
# but we need to select Sedans inside it?


cars[(~cars.Type.isin(['Sedan', ]))]

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,SUV,MDX,Asia,All,36945,3.5,6.0,265,17,23,4451.0,106.0,189.0
6,Acura,Sports,NSX coupe 2dr manual S,Asia,Rear,89765,3.2,6.0,290,17,24,3153.0,100.0,174.0
20,Audi,Sports,RS 6 4dr,Europe,Front,84600,4.2,8.0,450,15,22,4024.0,109.0,191.0
21,Audi,Sports,TT 1.8 convertible 2dr (coupe),Europe,Front,35940,1.8,4.0,180,20,28,3131.0,95.0,159.0
22,Audi,Sports,TT 1.8 Quattro 2dr (convertible),Europe,All,37390,1.8,4.0,225,20,28,2921.0,96.0,159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,Volkswagen,Wagon,Passat GLS 1.8T,Europe,Front,24955,1.8,4.0,170,22,31,3338.0,106.0,184.0
415,Volkswagen,Wagon,Passat W8,Europe,Front,40235,4.0,8.0,270,18,25,4067.0,106.0,184.0
416,Volvo,SUV,XC90 T6,Europe,All,41250,2.9,6.0,268,15,20,4638.0,113.0,189.0
426,Volvo,Wagon,V40,Europe,Front,26135,1.9,4.0,170,22,29,2822.0,101.0,180.0
427,Volvo,Wagon,XC70,Europe,All,35145,2.5,5.0,208,20,27,3823.0,109.0,186.0

In [51]:
# Son's solution: 

# # Select only Lexus cars, then calculate the percentage of SUVs among Lexus cars (try using loc)
# cars.loc[cars.Make == 'Lexus', 'Type'].value_counts(normalize=True)
# 
# #Alternatively
# #len(cars[(cars.Make == 'Lexus') & (cars.Type == 'SUV')]) / len(cars[(cars.Make == 'Lexus')])



# Select only Lexus cars, then calculate the percentage of SUVs among Lexus cars (try using loc)

cars[(cars.Make.isin(['Lexus']))].Type.value_counts(normalize=True)  
# gets all the lexuses, normalize changes it into a percentage

Sedan     0.545455
SUV       0.272727
Wagon     0.090909
Sports    0.090909
Name: Type, dtype: float64

### String Methods

In [52]:
# Son's solution: 
# cars[cars.Model.str.contains('convertible')]




# Select cars containing 'convertible' in the model name

cars[cars.Model.str.contains('convertible')]

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
8,Audi,Sedan,A41.8T convertible 2dr,Europe,Front,35940,1.8,4.0,170,23,30,3638.0,105.0,180.0
14,Audi,Sedan,A4 3.0 convertible 2dr,Europe,Front,42490,3.0,6.0,220,20,27,3814.0,105.0,180.0
15,Audi,Sedan,A4 3.0 Quattro convertible 2dr,Europe,All,44240,3.0,6.0,220,18,25,4013.0,105.0,180.0
21,Audi,Sports,TT 1.8 convertible 2dr (coupe),Europe,Front,35940,1.8,4.0,180,20,28,3131.0,95.0,159.0
22,Audi,Sports,TT 1.8 Quattro 2dr (convertible),Europe,All,37390,1.8,4.0,225,20,28,2921.0,96.0,159.0
23,Audi,Sports,TT 3.2 coupe 2dr (convertible),Europe,All,40590,3.2,6.0,250,21,29,3351.0,96.0,159.0
30,BMW,Sedan,325Ci convertible 2dr,Europe,Rear,37995,2.5,6.0,184,19,27,3560.0,107.0,177.0
36,BMW,Sedan,330Ci convertible 2dr,Europe,Rear,44295,3.0,6.0,225,19,28,3616.0,107.0,177.0
42,BMW,Sports,M3 convertible 2dr,Europe,Rear,56595,3.2,6.0,333,16,23,3781.0,108.0,177.0
43,BMW,Sports,Z4 convertible 2.5i 2dr,Europe,Rear,33895,2.5,6.0,184,20,28,2932.0,NaN,161.0
44,BMW,Sports,Z4 convertible 3.0i 2dr,Europe,Rear,41045,3.0,6.0,225,21,29,2998.0,98.0,161.0
61,Cadillac,Sports,XLR convertible 2dr,USA,Rear,76200,4.6,8.0,320,17,25,3647.0,106.0,178.0
83,Chevrolet,Sports,Corvette convertible 2dr,USA,Rear,51535,5.7,8.0,350,18,25,3248.0,105.0,180.0
98,Chrysler,Sedan,Sebring convertible 2dr,USA,Front,25215,2.4,4.0,150,22,30,3357.0,NaN,194.0
100,Chrysler,Sedan,Sebring Limited convertible 2dr,USA,Front,30950,2.7,6.0,200,21,28,3448.0,106.0,194.0
114,Dodge,Sports,Viper SRT-10 convertible 2dr,USA,Rear,81795,8.3,10.0,500,12,20,3410.0,99.0,176.0
133,Ford,Sports,Mustang 2dr (convertible),USA,Rear,18345,3.8,6.0,193,20,29,3290.0,101.0,183.0
134,Ford,Sports,Mustang GT Premium convertible 2dr,USA,Rear,29380,4.6,8.0,260,17,25,3347.0,NaN,183.0
165,Honda,Sports,S2000 convertible 2dr,Asia,Rear,33260,2.2,4.0,240,20,25,2835.0,95.0,162.0
198,Jaguar,Sports,XK8 convertible 2dr,Europe,Rear,74995,4.2,8.0,294,18,26,3980.0,102.0,187.0
200,Jaguar,Sports,XKR convertible 2dr,Europe,Rear,86995,4.2,8.0,390,16,23,4042.0,102.0,187.0
203,Jeep,SUV,Wrangler Sahara convertible 2dr,USA,All,25520,4.0,6.0,190,16,19,3575.0,93.0,150.0
227,Lexus,Sports,SC 430 convertible 2dr,Asia,Rear,63200,4.3,8.0,300,18,23,3840.0,103.0,178.0
245,Mazda,Sports,MX-5 Miata convertible 2dr,Asia,Rear,22388,1.8,4.0,142,23,28,2387.0,89.0,156.0
246,Mazda,Sports,MX-5 Miata LS convertible 2dr,Asia,Rear,25193,1.8,4.0,142,23,28,2387.0,89.0,156.0
263,Mercedes-Benz,Sedan,CLK320 coupe 2dr (convertible),Europe,Rear,45707,3.2,6.0,215,20,26,3770.0,107.0,183.0
264,Mercedes-Benz,Sedan,CLK500 coupe 2dr (convertible),Europe,Rear,52800,5.0,8.0,302,17,22,3585.0,107.0,183.0
269,Mercedes-Benz,Sports,SL500 convertible 2dr,Europe,Rear,90520,5.0,8.0,302,16,23,4065.0,101.0,179.0
271,Mercedes-Benz,Sports,SL600 convertible 2dr,Europe,Rear,126670,5.5,12.0,493,13,19,4429.0,101.0,179.0
272,Mercedes-Benz,Sports,SLK230 convertible 2dr,Europe,Rear,40320,2.3,4.0,192,21,29,3055.0,95.0,158.0
296,Mitsubishi,Sports,Eclipse Spyder GT convertible 2dr,Asia,Front,26992,3.0,6.0,210,21,28,3296.0,101.0,177.0
312,Nissan,Sports,350Z Enthusiast convertible 2dr,Asia,Rear,34390,3.5,6.0,287,20,26,3428.0,104.0,169.0
331,Porsche,Sports,911 Carrera convertible 2dr (coupe),Europe,Rear,79165,3.6,6.0,315,18,26,3135.0,NaN,175.0
335,Porsche,Sports,Boxster convertible 2dr,Europe,Rear,43365,2.7,6.0,228,20,29,2811.0,95.0,170.0
336,Porsche,Sports,Boxster S convertible 2dr,Europe,Rear,52365,3.2,6.0,258,18,26,2911.0,95.0,170.0
341,Saab,Sedan,9-3 Arc convertible 2dr,Europe,Front,40670,2.0,4.0,210,21,29,3480.0,105.0,182.0
342,Saab,Sedan,9-3 Aero convertible 2dr,Europe,Front,43175,2.0,4.0,210,21,30,3700.0,105.0,182.0
396,Toyota,Sports,MR2 Spyder convertible 2dr,Asia,Rear,25130,1.8,4.0,138,26,32,2195.0,97.0,153.0
407,Volkswagen,Sedan,New Beetle GLS convertible 2dr,Europe,Front,23215,2.0,4.0,115,24,30,3082.0,99.0,161.0
423,Volvo,Sedan,C70 LPT convertible 2dr,Europe,Front,40565,2.4,5.0,197,21,28,3450.0,105.0,186.0
424,Volvo,Sedan,C70 HPT convertible 2dr,Europe,Front,42565,2.3,5.0,242,20,26,3450.0,105.0,186.0

In [53]:
# Son's solution: 
# cars[cars.Model.str.endswith('2dr')] 




# Select cars where the model name ends with 2dr

cars[cars.Model.str.endswith('2dr')]

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,Sedan,RSX Type S 2dr,Asia,Front,23820,2.0,4.0,200,24,31,2778.0,101.0,172.0
8,Audi,Sedan,A41.8T convertible 2dr,Europe,Front,35940,1.8,4.0,170,23,30,3638.0,105.0,180.0
14,Audi,Sedan,A4 3.0 convertible 2dr,Europe,Front,42490,3.0,6.0,220,20,27,3814.0,105.0,180.0
15,Audi,Sedan,A4 3.0 Quattro convertible 2dr,Europe,All,44240,3.0,6.0,220,18,25,4013.0,105.0,180.0
29,BMW,Sedan,325Ci 2dr,Europe,Rear,30795,2.5,6.0,184,20,29,3197.0,107.0,177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,Toyota,Sports,MR2 Spyder convertible 2dr,Asia,Rear,25130,1.8,4.0,138,26,32,2195.0,97.0,153.0
405,Volkswagen,Sedan,New Beetle GLS 1.8T 2dr,Europe,Front,21055,1.8,4.0,150,24,31,2820.0,99.0,161.0
407,Volkswagen,Sedan,New Beetle GLS convertible 2dr,Europe,Front,23215,2.0,4.0,115,24,30,3082.0,99.0,161.0
423,Volvo,Sedan,C70 LPT convertible 2dr,Europe,Front,40565,2.4,5.0,197,21,28,3450.0,105.0,186.0
424,Volvo,Sedan,C70 HPT convertible 2dr,Europe,Front,42565,2.3,5.0,242,20,26,3450.0,105.0,186.0

In [54]:
# Son's solution: 
# cars[cars.Model.str.count(' ') > 3]



# RETURN TO THIS - INCOMPLETE!

# Select cars where the model name has more than 4 words. = condition.. See Multiple conditional filtering
# Hint: words are separated by space.

# cars[cars.Model.str.endswith('2dr')]
# cars[cars.Model.str.contains('Sport')] 
# cars[(cars.Make.isin(['Honda', 'Mazda'])) & (cars.Length>180)]

# cars[cars.Model.str.contains(' ')] 
# no, this gets model names with spaces, but also gets ones with fewer/more words.

# --- Son's help: (I was getting into trying split)
# --- Son: "in this use 'split', or actually better, 'count' on strings"

# But is this a string, or a list that I need to convert to a string?
# Although, earlier this worked, so is a string? 'cars[cars.Model.str.contains('convertible')] 

# Attempt - cars[cars.Model.str.count(' ')] 

# cars.Model = cars.Model.str.count()
# cars.Model
# 

# Some heavy help from Son on this one: 
cars[ (cars['Model'].str.count(' ') > 4 )  ]

,Make,Type,Model,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
332,Porsche,Sports,911 Carrera 4S coupe 2dr (convert),Europe,All,84165,3.6,6.0,315,17,24,3240.0,93.0,175.0

In [55]:
# Son's solution: 
# cars.Model = cars.Model.str.upper()
# 
# cars




# Change the strings in the Model column to uppercase. Modify the Model column directly.

# From Lecture 7, under Replacing Text with replace()
cars.Model = cars.Model.str.upper()
cars.Model

0                          MDX
1               RSX TYPE S 2DR
2                      TSX 4DR
3                       TL 4DR
4                   3.5 RL 4DR
                ...
423    C70 LPT CONVERTIBLE 2DR
424    C70 HPT CONVERTIBLE 2DR
425                 S80 T6 4DR
426                        V40
427                       XC70
Name: Model, Length: 428, dtype: object

### Groupby

In [56]:
# Son's solution: 
# cars.groupby('Origin').mean()



# Group the data by Origin and calculate the mean for all columns

gb = cars.groupby('Origin') # collapses all the lines into fewer lines by Origin
gb # shows the content of gb? Commenting this line out returns the same
gb.mean().round(2) # what is the figure in the brackets? See documentation!

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Origin,,,,,,,,,
Asia,24741.32,2.77,5.19,190.70,22.01,28.27,3336.84,105.81,182.88
Europe,48349.80,3.21,6.24,251.89,18.73,26.01,3681.62,106.59,181.85
USA,28377.44,3.64,6.11,212.82,19.07,26.01,3788.49,112.23,194.17

In [57]:
# Son's solution: 
# # Group the data by Make and then by Type. What's the cheapest price for a Volvo's SUV?
# cars.groupby(['Make', 'Type']).min()
# 
# 
# # Alternatively
# # gb = cars.groupby(['Make', 'Type']).min()
# # gb.loc[('Volvo', 'SUV'), 'MSRP']







# Group the data by Make and then by Type. What's the cheapest price for a Volvo's SUV?

# Found this in Lecture 7, under Groupby multi level
min_price = cars.groupby(['Make', 'Type']).MSRP.min()

min_price

Make        Type
Acura       SUV       36945
            Sedan     23820
            Sports    89765
Audi        Sedan     25940
            Sports    35940
                      ...
Volkswagen  Sedan     18715
            Wagon     19005
Volvo       SUV       41250
            Sedan     25135
            Wagon     26135
Name: MSRP, Length: 114, dtype: int64

In [58]:
# son's solution: 
# cars.groupby(cars.Make == 'Audi').mean()



# Are Audi cars heavier than the rest of car brands on average?

# Found this in Lecture 7, under Group by condition
gb = cars.groupby(cars.MSRP == 'Audi')

gb.mean()

/Users/dmitry/.local/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
MSRP,,,,,,,,,
False,32774.85514,3.196729,5.807512,215.885514,20.060748,26.843458,3591.983254,108.211823,186.442584

In [59]:
#

### (Optional) Visualization

In [60]:
# Son's solution: 
# violin = sns.violinplot(data=cars, x='MSRP', y='Origin')


# Use seaborn's violinplot() to plot MSRP by Origin. What can you comment about it?

In [61]:
# Son's solution: 
# corr_heatmap = sns.heatmap(cars.corr(), annot=True)



# Use seaborn's heatmap to plot the correlation matrix of cars

In [62]:
# Son's solution: 
# reg = sns.lmplot(data=cars, x='Weight', y='MPG_City')



# Use seaborn's lmplot to plot a regression line for Weight and MPG_City. 
# Can you spot a linear relationship?

Read more about linear regression:
https://towardsdatascience.com/linear-regression-understanding-the-theory-7e53ac2831b5

In [63]:
# Son's solution: 
# # Recreate this donut chart.
# # You can use plot(kind='pie') to create the chart as an ax. Then use plt.Circle() to create a white circle.
# # Finally you can use add_artist() to add the circle to the ax.
# 
# car_type = cars.Type.value_counts().plot(kind='pie', figsize=(12,6), autopct="%.0f%%", textprops={'fontsize': 12})
# 
# car_type.set_title('Car Types', fontsize=15)
# car_type.set_ylabel('')
# 
# circle = plt.Circle((0,0), 0.7, color='white')
# car_type.add_artist(circle)
# 









# Recreate this donut chart.
# You can use plot(kind='pie') to create the chart as an ax. Then use plt.Circle() to create a white circle.
# Finally you can use add_artist() to add the circle to the ax.

![title](pie.png)

Using pie chart is often discouraged. Try making a donut chart, bar chart or treemap instead: https://www.data-to-viz.com/caveat/pie.html

In [64]:
# Son's solution: 
# # Group the data by Type and calculate MSRP's mean and Length's max and min.
# # Plot a bar chart for MSRP and 2 line charts for max and min lengths.
# # All charts should be on the same ax.
# 
# car_type = cars.groupby('Type').agg({'MSRP': 'mean', 'Length': ['max', 'min']})
# 
# fig, ax = plt.subplots(figsize=(12,6))
# 
# price_plot = car_type.plot(kind='bar', y='MSRP', color='r', ax=ax)
# length_plot = car_type.plot(kind='line', y='Length', ax=ax, secondary_y=True)
# 
# price_plot.set_ylabel('MSRP')
# length_plot.set_ylabel('Length', rotation=-90)








# Group the data by Type and calculate MSRP's mean and Length's max and min.
# Plot a bar chart for MSRP and 2 line charts for max and min lengths.
# All charts should be on the same ax.